
Microservicio de notificaciones
//# Puerto HTTP (REST + WebSocket)
PORT=3007
# Puerto TCP (contrato entre microservicios)
NOTIFICATIONS_TCP_PORT=4007

# Conexión a MongoDB (Prisma requiere replica set, aunque sea uno solo local)
DATABASE_URL="mongodb://localhost:27017/notificaciones?replicaSet=rs0"