DATABASE_URL="mysql://user:pass@localhost:3306/ms_auth"
REDIS_URL="redis://default:pass@host:port"
JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
TCP_PORT=3010